<h1 class="text-center mt-3">Create an Article</h1>
<%= render 'form' %>







<!-- #form_with scope: :article, url: articles_path, local: true do |f|  It was changed code but still working -->  
<!--#Post request http not remote ,form_with by deafault http -->
<!--<%= link_to 'Return to articles', articles_path()%>-->
</div>