<div id="page-content">
    <%=render 'layouts/jumbotoron' %>
</div>

<!--
# <h1>This is home pages</h1>
# <%= link_to 'Articles Listing Page', articles_path()%>
# <br/>
# <br/>
# <%= link_to 'About Page', about_path%>
-->