<div id="page-content">
<%=render 'layouts/jumbotoron' %>


</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center text-white">
    <small>Copyright &copy; Your Website</small>
    </div>
</footer>


<!--
# <h1>This is home pages</h1>
# <%= link_to 'Articles Listing Page', articles_path()%>
# <br/>
# <br/>
# <%= link_to 'About Page', about_path%>
-->